<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SEO & Link Preview -->
    <title>Document</title>
    <link rel="icon" href="./icon.png">
    <meta property="og:title" name="twitter:title" itemprop="name" content="Document" />
    <meta property="og:site_name" content="Document" />
    <meta name="google-site-verification" content="search.google.com/search-console" />
    <meta name="fb:app_id" content="1321416788276143" />
    <meta property="og:image" name="twitter:image:scr" itemprop="image" content="https://image.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image:alt" name="twitter:image:alt" content="https://image.png" />
    <meta property="og:type" content="Website" />
    <meta property="keywords" content="Key, search, terms" />
    <meta property="og:description" name="twitter:description" content="SEO Keywords & text" />
    <meta property='og:url' content='expected.url' />
    <meta name="author" content="Anthony S Protho">
    <!-- Preload Static/Styles -->
    <link href="./normalize.css" rel="stylesheet" type="text/css" />
    <link href="./style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Title</h1>
    <footer>
        <p>©year Anthony S. Protho</p>
    </footer>
    <script src="./index.js"></script>
</body>

</html>